body{
    background-color: 
    whitesmoke;
}

.painel{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: gold;
    background-color: black;
    padding: 10px;
    height: 100%;
    margin: 0;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    

    
    
    
}

.sobre{
    text-align: center;
    font-size: medium;
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 0;
    height: 100%;
    margin: 0;
    padding: 5px;
    
}

.gato{
    position: absolute;
    image-orientation: flip;
    left: 31%;
    height: auto;
}

